
.banner {
    position: relative;
    background-image: url('https://github.com/gwenfuri2/BusyBeeBiothane/blob/main/busy%20bee.JPG?raw=true');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height: 50px; /* Adjust the height to your preference */
}

.banner img {
    width: flex;
    height: 10%;
    opacity: 0.5; /* Adjust the opacity as desired */
}

body {
    margin: 50px;
    padding: 50px;
    font-family: Arial, sans-serif;
}

/* Header Styles */

header {
    padding: 5px;
}

nav {
    background-color: rgb(109,113,46);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  li {
    display: inline-block;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  li:hover a:before {
    width: 120%;
    height: 120%;
    opacity: 0.3;
  }
  
/* Section Styles */

section {
    padding: 20px;
}
.align-center{
            text-align: center;
            color: black;
            font-weight: 400;
        }

h2 {
    font-size: 24px;
}

p {
    font-size: 36px;
}

p1 {
   font-size: 10px;
  
}

/* Footer Styles */

footer {
    background-color: rgb(109,113,46);
    padding: 1px;
    text-align: center;
}

/* Background Image and Overlay Styles */

.bg-img {
    position: relative;
    background-image: url('https://github.com/gwenfuri2/BusyBeeBiothane/blob/main/leash.jpg?raw=true');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height: 400px; /* Adjust the height to your preference */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as desired */
    color: white;
    font-size: 150px;
    text-transform: uppercase;
    font-family: Luminari, fantasy;
}
